<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298461574252-pssr8t2qaff3cp9ut49si3ucgiaqop7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298461574252-pssr8t2qaff3cp9ut49si3ucgiaqop7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298461574252-8pqn540uk7vu7uffod2eh7adkki0dov8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Ruzv9Ddr3b1D4nF1S--HYGFvAqnhIMg</string>
	<key>GCM_SENDER_ID</key>
	<string>298461574252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butique.lit</string>
	<key>PROJECT_ID</key>
	<string>butique-2c0c6</string>
	<key>STORAGE_BUCKET</key>
	<string>butique-2c0c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298461574252:ios:b7efcc924fc3fb0bf15449</string>
</dict>
</plist>